<div class="row">
  <div class="col s12 m6 l6 offset-l2 offset-m2">
    <p id="notice"><%= notice %></p>
    <h2> <%= @user.forename %> <%= @user.surname %> </h2>

    <p>
      <strong>Email address:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>

    <h6>Member in following organizations:</h6>
    <ul>
      <% @user.organizations.each do |organization| %>
          <li>
            <%= link_to organization.to_s, organization %>
          </li>
      <% end %>
    </ul>

    <%= link_to 'Back', users_path %>
    <%= link_to 'Edit your information', edit_user_path(@user) , class:'btn'%>

  </div>

</div>
