<div class="row">
  <div class="col s12 m4 l4 offset-l4 offset-m4">
    <p id="notice"><%= notice %></p>
    <%= link_to 'Back', users_path %>
    <p>
      <strong>Name:</strong>
      <%= @user.forename %> <%= @user.surname %>
    </p>

    <p>
      <strong>Email address:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @user.city %>
    </p>

    <h6>Member in following organizations</h6>
    <ul>
      <% @user.organizations.each do |organization| %>
          <li>
            <%= link_to organization.to_s, organization %>
          </li>
      <% end %>
    </ul>

    <%= link_to 'Edit your information', edit_user_path(@user) , class:'btn'%>
  </div>
</div>
