<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @organization.founded %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @organization.introduction %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
