<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @organization.founded %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<h5>Members</h5>
<ul>
  <% @organization.members.each do |member| %>
      <li>
        <%= link_to member.to_s, member %>
      </li>
  <% end %>
</ul>

<% if current_user %>
    <% if @organization.members.include?(current_user) %>
        <%= form_for(@membership, method: "delete") do |f| %>
            <%= f.hidden_field :organization_id %>
            <%= f.submit value: "end your membership", class:"btn"  %>
        <% end %>
    <% else %>
        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :organization_id %>
            <%= f.submit value: "join the organization", class:"btn" %>
        <% end %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
