<!DOCTYPE html>
<html>
<head>
  <title>Jrekisteri</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
            <%= link_to 'Jäsenrekisteri', root_path ,class:'brand-logo' %>
            <ul id="nav-mobile" class="right hide-on-med">
              <li><%= link_to 'Käyttäjät', users_path %><i class="mdi-action-face-unlock"></i>
              <li><%= link_to 'Järjestöt', organizations_path %><i class="mdi-social-group"></i></li>
            </ul>
        </div>
      </div>
    </nav>
    <main>
        <div class="container">
            <%= yield %>
        </div>
    </main>

</body>
</html>
